Options +FollowSymlinks
IndexIgnore *
DirectoryIndex index.html
ErrorDocument 404 /404.html

RewriteEngine on

# redirect book.
RewriteCond %{HTTP_HOST} ^book\.emmanuelbernard\.com$ [NC]
RewriteRule ^(.*)$ http://emmanuelbernard.com/books/hsia/ [R=301,L]

# redirect blog. atom feed to new feed
# redirect other blog. to /blog
RewriteCond %{HTTP_HOST} ^blog\.emmanuelbernard\.com$ [NC]
RewriteRule ^atom\.xml$ http://emmanuelbernard.com/blog/feed.atom [R=301,L]

RewriteCond %{HTTP_HOST} ^blog\.emmanuelbernard\.com$ [NC]
RewriteRule ^(.*)$ http://emmanuelbernard.com/blog/ [R=301,L]

RewriteCond %{HTTP_HOST} ^www.emmanuelbernard.com$ [OR]
RewriteCond %{HTTP_HOST} ^emmanuelbernard.com$

RewriteRule ^books$ /books/hsia$1
RewriteRule ^books/$ /books/hsia$1
RewriteRule ^feed$ /blog/feed.atom
RewriteRule ^feed/$ /blog/feed.atom
# redirect feed to FeedBurner
RewriteRule ^blog/feed.atom$ "http\:\/\/feeds\.feedburner\.com\/NoRelationTo" [R=302,L]
RewriteRule ^\@$ "https\:\/\/twitter\.com\/emmanuelbernard" [R=302,L]
RewriteRule ^\+$ "https\:\/\/plus\.google\.com\/u\/0\/114288822031825705031" [R=302,L]
