---
title: Home
author: Emmanuel Bernard
layout: constant-sidebar
tab: home
---
.page-header
  %h1 
    Emmanuel Bernard
    %br
    %small
      Build open source software
:markdown
  Contributor and lead of __open source__ projects for over 10 years.  
  7 of them at __[JBoss by Red Hat](http://redhat.com)__ currently data platform architect.  
  Involved in __standardization__ (JCP).  
  Active in the __Java community__ in general via several __podcasts__ and speaking engagements.  
  Author of __[Hibernate Search in action](/books/hsia/)__.

  And yes I have a private life too, thanks ;) 

%p.bar
  %a.btn.btn-success{:href=>'/bio/'}
    More complete bio &raquo;
  |
  %a.btn.btn-success{:href=>'/projects/'}
    My projects &raquo;
  |
  %a.btn.btn-success{:href=>'/books/hsia/'}
    My book &raquo;

%hr

%p.bar
  %a{:href=>'/blog/'}
    %img{:src=>'/images/services/rss_32.png'}
    Personal (technical) blog
  |
  %a{:href=>'http://emmanuelbernard.com/@'}
    %img{:src=>'/images/services/twitter_32.png', :alt=>'Twitter'}
  |
  %a{:href=>'http://emmanuelbernard.com/+'}
    %img{:src=>'/images/services/google_plus_32.png', :alt=>'Google Plus'}
  |
  %a{:href=>'http://www.linkedin.com/in/emmanuelbernard'}
    %img{:src=>'/images/services/linkedin_32.png', :alt=>'LinkedIn'}
  |
  %a{:href=>'http://in.relation.to/Bloggers/Emmanuel'}
    %img{:src=>'/images/services/rss_32.png'}
    Professional blog
  |
  %a{:href=>'mailto:contact@mel.emmanuelbernard.com'}
    %img{:src=>'/images/services/email_32.png'}