---
title: Home
author: Emmanuel Bernard
layout: constant-sidebar
tab: home
---
:markdown
  # Emmanuel Bernard

  - Contributor and lead of open source projects for over 10 years.  
  - 7 of them at
  [JBoss by Red Hat](http://redhat.com) currently data platform architect. 
  - Involved in standardization (JCP).  
  - Active in the Java community in general via several podcasts and speaking engagements.  
  - Author of 
  [Hibernate Search in action](/books).

  And yes I have a private life too, thanks ;) 

%p.bar
  %a.btn.btn-success{:href=>'/bio'}
    More complete bio &raquo;
  |
  %a.btn.btn-success{:href=>'#projects'}
    My projects &raquo;
  |
  %a.btn.btn-success{:href=>'/books'}
    My books &raquo;

%hr

%p.bar
  %a{:href=>'http://blog.emmanuelbernard.com'}
    %img{:src=>'/images/services/rss_32.png'}
    Personal (technical) blog
  |
  %a{:href=>'http://emmanuelbernard.com/@'}
    %img{:src=>'/images/services/twitter_32.png', :alt=>'Twitter'}
  |
  %a{:href=>'http://emmanuelbernard.com/+'}
    %img{:src=>'/images/services/google_plus_32.png', :alt=>'Google Plus'}
  |
  %a{:href=>'http://www.linkedin.com/in/emmanuelbernard'}
    %img{:src=>'/images/services/linkedin_32.png', :alt=>'LinkedIn'}
  |
  %a{:href=>'http://in.relation.to/Bloggers/Emmanuel'}
    %img{:src=>'/images/services/rss_32.png'}
    Professional blog
  |
  %a{:href=>'mailto:emmanuel@hibernate.org'}
    %img{:src=>'/images/services/email_32.png'}