---
title: Home
author: Emmanuel Bernard
layout: constant-sidebar
---
#main-text
  :markdown
    #Emmanuel Bernard
    For people in a big hurry, check the quick pointers below the picture.

    For people less in a hurry, but still with better things to do, here is the 
    elevator pitch. I am an Open Source actor. Member of the Hibernate team, 
    I am the founder, co-founder and lead of the following projects 
    Hibernate Search, Hibernate Validator, Hibernate OGM. My favorite nowadays 
    is Hibernate OGM.
  
    I am a regular speaker at various Java events and the co-author of 
    [Hibernate Search in Action](http://www.manning.com/affiliate/idevaffiliate.php?id=952_117_1_24) 
    from Manning. I participate in the JCP as expert 
    group member of Java Persistence 2 and spec lead of Bean Validation. 
    I am speaking to various Java events around my work.
    JBoss is feeding me, both financially and mentally, so thank you :)

    Beyond work, I enjoy economy, physics, good food from all over the world, 
    travel, wine, snowboarding, hiking, understanding the world, arguing for 
    the pleasure of it and a few other things.

    ##My Book    
%a#hsia-home{:href => "http://www.manning.com/affiliate/idevaffiliate.php?id=952_117_1_24"}
  %img{:src=>"/images/hsia-cover-small.jpg"}
#main-text
  :markdown
    Beyond the regular internet publications, I am currently writing a book on 
    Hibernate Search for Manning: 
    [Hibernate Search in Action](http://www.manning.com/affiliate/idevaffiliate.php?id=952_117_1_24).
    If you are interested in enhancing search in your Hibernate applications, 
    check out the project and [go buy the book](http://www.manning.com/affiliate/idevaffiliate.php?id=952_117_1_24).

    Interesting experience but very very time consuming. Of course, most of my 
    work these days is open source and thus publicly available.
  
    ##Means of Communications
    To talk to the world, I use various blogs (like a gazillions of people).
    [in.relation.to](http://in.relation.to) is my team blog. My contribution 
    can be found at 
    [in.relation.to/Bloggers/Emmanuel](http://in.relation.to/Bloggers/Emmanuel). 
    Anything related to Hibernate, Seam, JBoss and databases can be found there.
  
    [blog.emmanuelbernard.com](http://blog.emmanuelbernard.com) is a more 
    personal blog. Mostly focused on development and professional life: anything 
    techy or focus on organization.
  
    [@emmanuelbernard](http://emmanuelbernard.com/@) on Twitter is my microblog. 
    Anything that crosses my mind while not too far from a keyboard.
  
    ##Day Job
    After having worked on it at night for a few years and thanks to JBoss and 
    its business model, my day job is fully dedicated to Hibernate and Open 
    Source. I (co-)started and lead Hibernate Annotation, Hibernate 
    EntityManager, Hibernate Validator, Hibernate Search.

    I participate in the JCP as expert group member of Java Persistence 2 and 
    as specification lead of Bean Validation.
  
    ##Speaker
    I have been speaking at various conferences and user groups around the 
    world. Thank to anyone that welcomed me in their respective country, each 
    time was a blast. 