---
title: Projects
author: Emmanuel Bernard
layout: constant-sidebar
tab: projects
---
.page-header
  %h1 
    Projects
    %br
    %small
      I would put my projects in three categories: 
      %a{:href=>'#code'}
        code
      , 
      %a{:href=>'#podcasts'}podcasts
      and 
      %a{:href=>'#specs'}specs
      &#46;
%h2 
  %a{:name=>'code'}
  Code
%p
  I am a long committer of the Hibernate community and still spend most of
  my code time improving them.
.row
  .span4
    .project-block
      %strong
        Quarkus
      %p
        %span.label.label-success
          project lead
        &nbsp;
        %span.label.label-info
          co-founder
        &nbsp;
        %span.label
          committer
      %p
        Quarkus: Supersonic Subatomic Java.
      %p
        A Kubernetes Native Java stack tailored for GraalVM and OpenJDK HotSpot, crafted from the best of breed Java libraries and standards.
      %p.bar
        %a.btn.btn-success{:href=>'https://quarkus.io'}
          website &raquo;
        %a.btn.btn-success{:href=>'https://github.com/quarkusio/quarkus'}
          code &raquo;
  .span4
    .project-block
      %strong
        Hibernate OGM
      %p
        %span.label.label-important
          ex project lead
        &nbsp;
        %span.label.label-info
          founder
        &nbsp;
        %span.label
          committer
      %p
        Hibernate OGM is an attempt to make Hibernate ORM work for
        NoSQL stores like Infinispan, Cassandra, MongoDB etc.
      %p.bar
        %a.btn.btn-success{:href=>'http://ogm.hibernate.org'}
          website &raquo;
        %a.btn.btn-success{:href=>'https://github.com/hibernate/hibernate-ogm'}
          code &raquo;
.row
  .span4
    .project-block
      %strong
        Hibernate Search
      %p
        %span.label.label-important
          ex project lead
        &nbsp;
        %span.label.label-info
          founder
        &nbsp;
        %span.label
          committer
      %p
        Hibernate Search is a full-text search engine for objects
        like Hibernate entities or Infinispan values.
      %br
      %p.bar
        %a.btn.btn-success{:href=>'http://search.hibernate.org'}
          website &raquo;
        %a.btn.btn-success{:href=>'https://github.com/hibernate/hibernate-search'}
          code &raquo;
  .span4
    .project-block
      %strong
        Hibernate Validator
      %p
        %span.label.label-important
          ex project lead
        &nbsp;
        %span.label.label-info
          founder
        &nbsp;
        %span.label
          committer
      %p
        Hibernate Validator validates constraints on object models described via
        annotations. 
        //It is the reference implementation of Bean Validation.
      %p.bar
        %a.btn.btn-success{:href=>'http://validator.hibernate.org'}
          website &raquo;
        %a.btn.btn-success{:href=>'https://github.com/hibernate/hibernate-validator'}
          code &raquo;
.row
  .span4
    .project-block
      %strong
        Hibernate ORM
      %p
        %span.label
          committer
      %p
        Hibernate ORM is the most popular Object/Relational mapper 
        in Java.
      %br
      %p.bar
        %a.btn.btn-success{:href=>'http://www.hibernate.org'}
          website &raquo;
        %a.btn.btn-success{:href=>'https://github.com/hibernate/hibernate-orm'}
          code &raquo;
  .span4
    .project-block
      %strong
        Ceylon
      %p
        %span.label
          committer
      %p
        Ceylon is a programming language for the JVM. 
        The language is elegant, highly readable, extremely typesafe, and makes it easy to get things done.
      %p.bar
        %a.btn.btn-success{:href=>'http://ceylon-lang.org'}
          website &raquo;
        %a.btn.btn-success{:href=>'https://github.com/ceylon'}
          code &raquo;
.row
  .span4
    .project-block
      %strong
        Awestruct
      %p
        %span.label
          committer
      %p
        Awestruct is a static a framework for creating static HTML sites.
        This website is built with Awestruct.
        %br
        %br
      %p.bar
        %a.btn.btn-success{:href=>'http://awestruct.org'}
          website &raquo;
        %a.btn.btn-success{:href=>'https://github.com/awestruct/awestruct'}
          code &raquo;
%hr
%h2 
  %a{:name=>'podcasts'}
  Podcasts
.row
  .span4
    .project-block
      %strong
        Les Cast Codeurs
      %p
        %span.label.label-success
          co-host
        &nbsp;
        %span.label.label-info
          founder
      %p
        Les Cast Codeurs est un podcast sur la communauté
        Java en Français annimée par Emmanuel Bernard,
        Antonio Goncalves, Guillaume Laforge, Vincent Massol.
      %p.bar
        %a.btn.btn-success{:href=>'http://lescastcodeurs.com'}
          website &raquo;
  .span4
    .project-block
      %strong
        JBoss Community Asylum
      %p
        %span.label.label-success
          co-host
        &nbsp;
        %span.label.label-info
          founder
      %p
        Asylum is a podcast about, for and by the JBoss Community.
        %br
        %br
        %br
      %br
      %p.bar
        %a.btn.btn-success{:href=>'http://asylum.jboss.org'}
          website &raquo;
%hr
%h2 
  %a{:name=>'specs'}
  Specification
.row
  .span4
    .project-block
      %strong
        Bean Validation
      %p
        %span.label.label-success
          spec lead
        &nbsp;
        %span.label
          spec member
      %p
        Bean Validation is a Java specification providing a unified way of 
        declaring and defining constraints on an object model. It also 
        defines a runtime engine to validate objects. 
        %br
        %br
      %p.bar
        %a.btn.btn-success{:href=>'http://beanvalidation.org'}
          website &raquo;
  .span4
    .project-block
      %strong
        Java Persistence
      %p
        %span.label
          spec member
      %p
        The Java Persistence API is the Java API for the management of persistence 
        and object/relational mapping in Java EE and Java SE environments. 
      %br
      %p.bar
        %a.btn.btn-success{:href=>'http://jcp.org/en/jsr/detail?id=338'}
          website &raquo;
