---
title: Home
author: Emmanuel Bernard
layout: constant-sidebar
tab: home
---
.page-header
  %h1 
    Search results
    %br
    %small
      Results for 
      :javascript
        document.write(unescape(location.search.substring(3))); //ignores ?q=
/Google Search Custom code
#cse{:style=>'width: 100%;'}
  :javascript
    (function() {
      var cx = '018253261901023049979:ezvp_djs0wy';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
          '//cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  :erb
    <gcse:searchresults-only></gcse:searchresults-only>
  
