---
title: Hibernate Search in Action
author: Emmanuel Bernard
layout: constant-sidebar
---
#main-text
  :markdown
    #Hibernate Search in Action
    Welcome to the Hibernate Search in Action website.
    This page will guide you through various resources.
    
    ##Book description
  %a#hsia-details{:href => "http://www.amazon.com/dp/1933988649?tag=hsia-20&camp=213381&creative=390973&linkCode=as4&creativeASIN=1933988649&adid=12TS2185Z8X14AKT175F&"}
    %img{:src=>"/images/hsia-cover-medium.jpg"}

  :markdown
    Good search capability is one of the primary demands of a business application. 
    Engines like Lucene provide a great starting point, but with complex applications 
    it can be tricky to implement. It's tough to keep the index up to date, deal with 
    the mismatch between the index structure and the domain model, handle querying 
    conflicts, and so on.

    Hibernate Search is an enterprise search tool based on Hibernate Core and 
    Apache Lucene. It provides full text search capabilities for Hibernate-based 
    applications without the infrastructural code required by other search engines. 
    With this free, open-source technology, you can quickly add high-powered search 
    features in an intelligent, maintainable way.

    Hibernate Search in Action is a practical, example-oriented guide for Java 
    developers with some background in Hibernate Core. As the first book to cover 
    Hibernate Search, it guides you through every step to set up full text search 
    functionality in your Java applications. The book also introduces core search 
    techniques and reviews the relevant parts of Lucene, in particular the query 
    capabilities.

    Hibernate Search in Action also provides a pragmatic, how-to exploration of 
    more advanced topics such as Search clustering. For anyone using Hibernate or 
    JBoss Seam, this book is the definitive guide on how to add or enhance search 
    features in their applications.
    
    ##Buying the book
    You can buy the book on 
    [Amazon](http://www.amazon.com/dp/1933988649?tag=hsia-20&camp=213381&creative=390973&linkCode=as4&creativeASIN=1933988649&adid=12TS2185Z8X14AKT175F&) 
    in paper format, or buy the 
    [PDF (or PDF + paper)](http://www.manning.com/affiliate/idevaffiliate.php?id=952_117_1_24) 
    version at Manning.
    
    ##Source code
    You can download the source code at 
    [http://code.google.com/p/hibernatesearchinaction](http://code.google.com/p/hibernatesearchinaction/).
    
    ##Help on Hibernate Search
    For help on Hibernate Search, go to the [Hibernate forums](http://forum.hibernate.org/viewforum.php?f=9).
    For help on the book, go to the [book forum](http://manning.com/bernard/) 
    hosted at Manning
    
    ##Errata
    No errata at this time.