---
title: Books
author: Emmanuel Bernard
layout: constant-sidebar
---
#main-text
  :markdown
    I have published one book so far.
    
    ##Hibernate Search in Action
%a#hsia-home{:href => "http://www.manning.com/affiliate/idevaffiliate.php?id=952_117_1_24"}
  %img{:src=>"/images/hsia-cover-small.jpg"}
#main-text  
  :markdown
    See the dedicated web site [here](/books/hsia).
    This book published by Manning aims at being a practical guide and a 
    reference guide for Hibernate Search.
    
    Hibernate Search is a full-text search library for Hibernate applications.