---
title: 'Hibernate Search and JSR-303 at JavaOne'
author: 'Emmanuel Bernard'
layout: blog-post
tags: [  ]
---
<p>I will be presenting <a href='http://search.hibernate.org'>Hibernate Search</a> at JavaOne.<br/><br/>I will be demoing a live migration of the JBoss Seam DVD Store application from a classic SQL based search engine onto Hibernate Search with Google-like search capabilities. If your user pressures you for a decent and useful search feature or your DBA asks you not to kill the database perfs, you might want to take a look at it.<br/><br/>It's Friday at 10h50:<br/>TS-4746 - Hibernate Search: Googling Your Java Technology-Based Persistent Domain Model<br/><br/><br/>I will also give an update on JSR-303 Bean Validation (and Hibernate Validator) about the goals, the expectations and where it fits in the Java ecosystem, with a demo too ;-)<br/><br/>Friday again at 14h50 ( 2:50 PM in our local hosts language ;-) )<br/>TS-4112 - Declarative Programming: Tighten Enterprise JavaBeans (EJB) 3.0 and JSR 303 Beans Validation<br/><br/>See you there</p>
