---
title: 'Welcome to G2One'
author: 'Emmanuel Bernard'
layout: blog-post
tags: [  ]
---
<p>Yesterday was the official public birth of <a href='http://www.g2one.com/'>G2One</a>, a new company dedicated to <a href='http://groovy.codehaus.org/'>Groovy</a> and <a href='http://grails.codehaus.org/'>Grails</a> training, consulting and support. I am happy to see <a href='http://glaforge.free.fr/weblog/index.php?itemid=223'>Guillaume</a> (Groovy lead) and <a href='http://graemerocher.blogspot.com/'>Graeme</a> (Grails lead) jumping into the <a href='http://www.jboss.org/company/pos'>Professional OpenSource</a> bandwagon. Good luck to you guys, it is as stressful as exciting :)<br/><br/>Speaking of it, I will be speaking Wednesday 17th to the Grails eXchange.<br/><a href='http://www.grails-exchange.com/pcd/1001' title='Emmanuel Bernard at Grails eXchange 2007' alt='grails,groovy,java ee, grails exchange'><img title='Emmanuel Bernard at Grails eXchange 2007' src='http://www.grails-exchange.com/custom/images/Grails-exchange-im-speaking-@-280-84.jpg' border='0' align='middle' vspace='5' hspace='5' alt='groovy, grails, java ee, grails exchange'/></a><br/>One talk about Hibernate in general and what is cooking up for the next releases and another one about <a href='http://search.hibernate.org/'>Hibernate Search</a> (hopefully I will get my demo ported on Grails :) )</p>
