---
title: 'From a Bug blooms a thousand Features'
author: 'Emmanuel Bernard'
layout: blog-post
tags: [ oss ]
---
<p>When a severe bug hits a product, you have to fix and release quickly (at least I feel I have to). But, especially in the beta phase, it's fairly humiliating to release with one single ticket resolution.<br/><br/>Call it pride, pair pressure, ego, unwillingness to face reality, teenager knee jerk, I just can't release a beta with one single lonely closed ticket.<br/><br/>This is what happened on Hibernate Search. Beta2 introduced a severe bug in object retrievals. So I ended up coding <a href='http://blog.emmanuelbernard.com/2007/06/hibernate-search-freshly-baked-features.html#links'>a few new features</a>, fixing a few additional annoyances to hide the obvious.<br/><br/>That's one of the things I like in the Software as a Service model, transparent bug fixing, but that's another story.<br/><br/>Obviously, such aggressive release cycles can only work as long as a Product Manager don't look over your shoulder.<br/><br/>Who said bugs were a bad thing? ;-)</p>
