---
title: 'Got a MacBook (Pro), better consider this upgrade'
author: 'Emmanuel Bernard'
layout: blog-post
tags: [ apple ]
---
<p>Last night my battery and my MacBook Pro decided not to talk to each other anymore. The battery was full but as soon as I unplugged the AC, the laptop shut down immediately, fairly useless ;-)<br/><br/>Have a look at Apple's support case <a href='http://www.apple.com/support/macbook_macbookpro/batteryupdate/'>MacBook Battery Update</a>.<br/><br/><a href='http://www.apple.com/support/downloads/batteryupdate12.html'>This patch</a> apparently prevent the synchronization failure to happen, saving you a WFT moment and few hours of downtime.<br/><br/>I have been fairly impressed by the Genius bar support. It took me 1h to figure it out the problem in the morning (The Apple support website roughly described my problem), I made an appointment right away, another hour later I had my new battery operational (travel time included).<br/><br/>At least, they don't argue with you and don't ask if you know how to turn the power on. It's a big plus compared to other support organizations.</p>
