---
title: 'Groovy Annotations'
author: 'Emmanuel Bernard'
layout: blog-post
tags: [ groovy ]
---
<p>I have been hammering (nicely) Guillaume for a long time now to get Annotations support in Groovy.<br/>Thanks to Alexandru Popescu, this is now an official <a href='http://www.nabble.com/Initial-annotation-support-is-in-SVN-trunk-tf3050970.html'>work in progress</a>, and <a href='http://www.nabble.com/Re%3A--groovy-dev--Re%3A-Initial-annotation-support-is-in-SVN-trunk-tf3065822.html'>one that progress well</a> :-)<br/>I am thrilled by the possibilities to combine JavaEE (or any modern annotation based framework) and Groovy. If you wondered about the dynamic language you wanted to use, don't anymore.<br/><br/>Like the Hibernate team when we worked on the Java Persistence certification, the Groovy team must have been very frustrated to focus on Groovy 1.0 and not being able to innovate as fast as they did. They are now back on track.<br/><br/>Give a try to Groovy SVN trunk and enjoy.</p>
