---
title: 'Hibernate at Jazoon&#039;07'
author: 'Emmanuel Bernard'
layout: blog-post
tags: [ conference ]
---
<p>I will be at <a href='http://jazoon.com/'>Jazoon</a> (Zurich) to talk about <a href='http://jazoon.com/en/conference/presentationdetails.html?type=sid&amp;detail=825'>Hibernate Search</a> on Tuesday. I'll hang around Monday and Tuesday, so feel free to pass by the JBoss booth for a chat.</p>
