---
title: 'Paris JUG'
author: 'Emmanuel Bernard'
layout: blog-post
tags: [  ]
---
<p>For the fellows based in Paris or nearby, a new <a href='http://www.parisjug.org/'>Java User Group</a> has been formed. I expect lots of good content from this user group thanks to some cross-pollination with the <a href='http://www.ossgtp.org'>OSSGTP</a> group and the industry knowledge of the two founders.<br/>The first meeting is planned for February 12th, check out the announcement <a href='http://www.parisjug.org/communication/inauguration.html'>here</a>.</p>
