---
title: 'Hibernate Search in Action: all chapters written'
author: 'Emmanuel Bernard'
layout: blog-post
tags: [ book, hibernate search ]
---
<p>That's now official, I handed over the last chapter to the publisher yesterday. All chapters will be available to the <a href='http://www.manning.com/affiliate/idevaffiliate.php?id=952_117_1_24'>early access program</a> in the next few days. The journey is not finished yet. A lot of reviewing and correction are at sight. If you have feedback, now is the time :)</p><p>The last last few chapters out cover:</p><ul>  <li>Hibernate Search filters</li>  <li>Performance</li>  <li>Cluster and scalability</li></ul><p>Filters are a neat feature allowing to apply cross cutting restrictions on Lucene queries: you might want to filter to the latest month item creations or filter according to the security level the user is granted. Filters do just that in a declarative fashion: enable one or more of them by their names.</p><p>The chapter of performance is a mix of existing content and new content focused around performance at various stages: indexing and searching. It also includes an explanation about index sharding.</p><p>The last chapter describes problems that arise when you try to cluster Lucene and how Hibernate Search addresses them. We primarily describe the asynchronous clustering approach implemented out of the box in Hibernate Search (using JMS). The chapter also describes how to customize Hibernate Search to your own clustering strategy to meet your architectural needs.</p><p>Now off to the correction marathon :)</p>
