---
title: '*Breaking* news: Apple Inc acquires Twitter...'
author: 'Emmanuel Bernard'
layout: blog-post
tags: [  ]
---
<p>... and uses it as their iTunes Store infrastructure. Now it's broke!</p><p>I updated my iPhone firmware this morning *as requested by Apple* and the process is hung because the iTunes Store is down. I now have a totally bricked legit iPhone: no call, no text. Great!</p><p>Apple, I am very angry at you. Why are you penalizing your legit customers by not allowing the phone to be activated without your blessing. People who want, will jailbreak it anyway. Please this is the 21st century, be smarter.</p><p>PS: sorry Twitter to pick on you. I love your service, and it helped me to discover <a href='http://summize.com/search?q=&amp;ands=itunes+down&amp;phrase=&amp;ors=&amp;nots=&amp;tag=&amp;lang=all&amp;from=&amp;to=&amp;ref=&amp;near=&amp;within=15&amp;units=mi&amp;since=2008-07-11&amp;until=2008-07-11&amp;rpp=15'>I was not stuck alone in this madness</a>. <a href='http://summize.com'>Summize</a> is a totally awesome pulse checker.</p>
