---
title: 'Philly&#039;s search'
author: 'Emmanuel Bernard'
layout: blog-post
tags: [  ]
---
<p>I will be at the Philadelphia's <a href='http://phillyemergingtech.com/'>Emerging Technologies for the Enterprise</a> conference speaking about Hibernate Search on March 27th (Thursday).<br/>The conference has some interesting talks around the new wave of development frameworks (Seam, Rails and so on). There is even a <a href='http://www.phillyemergingtech.com/abstracts.php#frameworks'>Battle of the frameworks! a Rountable Debate</a> which sounds very promising. I will definitely try to sneak into it ;)<br/>Come by and say hi. If people are interested we could have a chat about the future of Hibernate Search as we are shaping it as we speak (or you can show up on the hibernate dev list if you don't like Philly ;) ).</p>
