---
title: 'Book review and NHibernate Search'
author: 'Emmanuel Bernard'
layout: blog-post
tags: [ book, hibernate search, jboss ]
---
<p>Ayende, one of the active bees behind the NHibernate portfolio, has a nice review of <a href='http://www.manning.com/affiliate/idevaffiliate.php?id=952_117_1_24'>Hibernate Search in Action</a> on <a href='http://ayende.com/Blog/archive/2008/09/02/Review-Hibernate-Search-in-Action.aspx'>his blog</a>.</p><p>By the way, Ayende has ported Hibernate Search to .net : <a href='http://www.google.com/search?client=safari&amp;rls=en-us&amp;q=NHibernate.Search&amp;ie=UTF-8&amp;oe=UTF-8'>NHibernate.Search</a>. I don't think there is documentation specific to the project but the Hibernate Search documentation is just as useful.</p><p>I don't know Ayende personally, but I can only admire someone that blogs more that I can <a href='http://twitter.com/emmanuelbernard'>tweet</a> and still have a full time job :)</p>
