---
title: 'Hibernate Search in Action book'
author: 'Emmanuel Bernard'
layout: blog-post
tags: [ book ]
---
<a href='http://www.manning.com/bernard/bernard_cover150.jpg' onblur='try {parent.deselectBloggerImageGracefully();} catch(e) {}'><img src='http://www.manning.com/bernard/bernard_cover150.jpg' border='0' alt='' style='margin: 0pt 0pt 10px 10px; float: right; cursor: pointer; width: 239px; height: 300px;'/></a>I am very please to announce that a book on <a href='http://search.hibernate.org'>Hibernate Search</a> is on its way. John Griffin and I are co-authoring <a href='http://www.manning.com/bernard/'>Hibernate Search in Action</a> from Manning.<br/><br/>The goal of this book is to give a good practical understanding of Hibernate Search and guide people through the steps of adding full text search capability into their Hibernate based application.  The book also covers the necessary Lucene knowledge you need to use Hibernate Search on a daily basis.<br/><br/>An <a href='http://www.manning.com/bernard/'>early version of the book</a> is already available through the MEAP program. Five chapters are already out there. If you are interested, give it a try, we welcome your feedback!
