---
title: 'JBoss Community Asylum - a new podcast with bits of me in it'
author: 'Emmanuel Bernard'
layout: blog-post
tags: [ jboss, podcast ]
---
<p><a href='http://blog.emmanuelbernard.com/2009/04/les-cast-codeurs-podcast-is-born.html'>Remember</a> my French podcast <a href='http://lescastcodeurs.com/'>Les Cast Codeurs</a>? (Doing well, thank you for asking) Well apparently, I did not have enough and started a new one. In English this time.</p><p>JBoss Community Asylum. A podcast on, by and about the JBoss Community and its gazilllllllion projects and ideas. It's available <a href='http://asylum.libsyn.com/'>here</a> and the iTunes link is <a href='http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=332953048'>here</a>. Basically, instead of blaming people about the lack of podcasts on the great tech at jboss.org, Max R. Andersen (JBoss Tools), Michael Neale (Drools + cloud thingies) and me have decided to give it a shot. You will get the latest news on from the JBoss sphere and we will likely interview folks about their projects.</p><p>Let us know what you think and how you would like it to evolve. It's a low-key bottom-up approach so anything's possible.</p><p>PS: I made progress, I am not the sound engineer this time, yeah!</p>
