---
title: 'Les Cast Codeurs Podcast is born'
author: 'Emmanuel Bernard'
layout: blog-post
tags: [ java, jboss, podcast ]
---
<p>I have just started a new podcast with a few French open source activists. All about Java, all in French. If you know French, read on ; otherwise, well... <a href='http://www.google.com/search?q=learn+french'>learn</a> :)</p><p>Les Cast Codeurs Podcast est dans les bacs!</p><p>Le podcast en français dans le code sur Java par Emmanuel Bernard (JBoss, Hibernate), Guillaume Laforge (SpringSource, Groovy), Antonio Goncalves (freelance, auteur), Vincent Massol (XWiki, Maven).</p><p>Restez informés sur les sujets brûlants de l'industrie Java. Plongez sur un sujet précis avec l'interview de l'épisode. Supportez les radotages de vos hôtes.</p><p>Ecoutez-nous et faites passer le message autour de vous !</p><p>web: <a href='http://lescastcodeurs.com/'>http://lescastcodeurs.com</a><br/>itunes: <a href='http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=312239675'>http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=312239675</a><br/>podcast syndication: <a href='http://lescastcodeurs.com/podcast-rss'>http://lescastcodeurs.com/podcast-rss</a><br/>blog feed: <a href='http://lescastcodeurs.com/feed/'>http://lescastcodeurs.com/feed/</a><br/>feedback: <a href='mailto:commentaire@lescastcodeurs.com'>commentaire@lescastcodeurs.com</a></p>
