---
title: 'JBUG Munich: Java Persistence 2 and Bean Validation'
author: 'Emmanuel Bernard'
layout: blog-post
tags: [ jboss, jug ]
---
<p>Next week, I will be at the JBug in Munich presenting Java Persistence 2 and Bean Validation. If you are around Monday 2nd, come swing by. The JBug Munich website is <a href='http://www.jbug-munich.org/'>here</a> for details.</p>
