---
title: 'Oracle is buying Sun: best quotes of the day'
author: 'Emmanuel Bernard'
layout: blog-post
tags: [ java ]
---
<p><span class='Apple-style-span' style='font-style: italic;'>Alex Miller</span>: "Next version of Java will be Java SE 7.0.0.0.17832"</p><p><span class='Apple-style-span' style='font-style: italic;'>Emmanuel Bernard</span>: "The day an Oracle swallows the Sun and in front the Business Machine. No kidding it's a Titans fight."</p><p><span class='Apple-style-span' style='font-style: italic;'>Max Andersen</span>: Thinking when Orsun will introduce a String in Java that says null == ""</p><p><span class='Apple-style-span' style='font-style: italic;'>Alexis MP</span>: "<span style='font-family:&apos;Lucida Grande&apos;;'>Checking my blog posts tagged with "oracle". No need to MarcF' them ;)"</span></p><p><span style='font-family:&apos;Lucida Grande&apos;;'><span class='Apple-style-span' style='font-style: italic;'>Bruno Georges</span>: "yes, this came out of the Blue :-)"</span></p><p><span style='font-family:&apos;Lucida Grande&apos;;'><span class='Apple-style-span' style='font-style: italic;'>Stomp Rasta</span>: "There'll have Java SE 7 Lite (300 MB) and Java SE 7 Full (600 MB). And we'll have to pay for each VM installed."</span></p><p>Add your own...</p>
