---
title: 'Having problems with Adium and Yahoo IM?'
author: 'Emmanuel Bernard'
layout: blog-post
tags: [ productivity ]
---
<p>Yahoo has changed its login protocol, breaking a number of third party IM clients including Adium.</p><p>The Adium team has released 1.3.5.rc1 which solves the issue. <a href='http://adium.im/blog/2009/06/adium-135rc1/'>Check it out</a>. If you use Adium 1.4 beta, upgrade to beta7.</p><p>Hope this will save you some time.</p>
