---
title: 'Le ParisJUG deux ans après'
author: 'Emmanuel Bernard'
layout: blog-post
tags: [ jug, jug ]
---
<p>For people who either don't speak French or are not in Paris tomorrow, skip this post, it's useless to you :)
</p>
<p>Le <a href='http://parisjug.org'>ParisJUG</a> a maintenant deux ans. Difficile de se rappeler Paris sans un JUG vivant et actif. Difficile de se rappeler la France sans ses 437.654 JUGs. Merci à Antonio et toute l'équipe pour avoir initié cette aventure.
</p>
<p>La soirée d'anniversaire est aujourd'hui mardi 9 février 2010 à 18:45. Venez nous rejoindre pour une soirée qui célébrera l'open source français avec Sacha Labourey (voir plus ;) ) en guest star. On est déjà au moins 348, donc un de plus, un de moins ;) Inscription gratuite mais nécessaire <a href='http://parisjug.org/xwiki/bin/view/Meeting/20100209'>ici</a>.</p>
