---
title: 'Book review: JBoss AS 5 Development by Francesco Marchioni'
author: 'Emmanuel Bernard'
layout: blog-post
tags: [ book, jboss ]
---
<p>I've been reading <a href='https://www.packtpub.com/jboss-as-5-development/book'>JBoss AS 5 Development</a> by Francesco Marchioni published by Packt Publishing. I must say that I quite enjoyed the book because it is complementing my knowledge perfectly.
</p>
<p>I know Java EE 5 and 6 quite well, I've been working on it, promoting it, yada yada yada. But when it comes to details on how to configure JBoss AS beyond the standard and the EE programmatic model, my knowledge leaves a lot to be desired.
</p>
<strong>Good for:</strong>
<p>If you want to know how to:
</p>
<ul>
	<li>change the HTTP port</li>
	<li>create two independent clusters on a single network</li>
	<li>customize the thead pools of your HTTP requests, EJB 3 components etc</li>
	<li>tweak the transaction manager</li>
	<li>secure your JBoss AS installation</li>
	<li>etc</li>
</ul>
<p>This book is a gold mine. Using the index or the table of content, you will reach the information in a minute.
</p>
<p>If you want to know how the JBoss Tools can help you:
</p>
<ul>
	<li>create an application</li>
	<li>deploy / undeploy apps</li>
	<li>add new components, pages</li>
	<li>etc</li>
</ul>
<p>This book will give you nice how-tos that will hold your hands from tooling installation to configuration and wizard usage.
</p>
<p>Francesco also explains the basics of the EE programmatic model. This is quite handy as it helps you to kink a configuration trick to an application behavior: all configurations are described with how they impact your application behavior and what it means if you change them.
</p>
<strong>Not good for:</strong>
<p>If you are looking for a book that explain the Java EE programmatic model and development practice in detail, this is not the book for you. You're better off looking at Seam in Action or any other EE targeted book.
</p>
<p>I will keep the book next to me when I develop and deploy on JBoss AS. Finding the right config or tuning will be much faster than a reckless Google search :) Reading this book, you feel that Francesco uses every bits of JBoss AS, loves it and wants to share his knowledge. Keep going :)
</p>
<p>Disclosure: Swati from Packt Publishing sent me the book for free. I stand by what I said in this blog though.</p>
