---
title: 'Retour sur l&#039;Universite du SI 2010: geek et boss une equipe qui gagne'
author: 'Emmanuel Bernard'
layout: blog-post
tags: [ conference, podcast ]
---
<p>J'ai eu la chance d'aller à l'<a href='http://www.universite-du-si.com'>université du SI</a> où Guillaume, Vincent et moi avons animé la session live du podcast <a href='http://lescastcodeurs.com'>Les Cast Codeurs</a> (ça devrait arriver bientôt dans votre iTunes, j'attends toujours le fichier son d'Octo). Qu'ai-je retenu de l'USI? Je vais me limiter volontairement aux deux choses qui m'ont le plus frappé.</p>
<p><b>Geek et boss: pas une frontière, un gouffre... et pourtant</b></p>
<p>Ce qui ma frappé, c'est que les geeks et les boss vivent dans des mondes complètements différents, des réalités alternatives presque. C'était particulièrement visible pendant les sessions questions / réponses des keynotes où le micro passe du développeur Java au DSI Renault. Vous aller me dire, on le sait déjà que les DSI ne comprennent rien à la technique. OK mais il y a plus.</p>
<p>M'étant (re)pris une claque avec cette (re)révélation, j'y a réfléchi et j'ai passé du temps à comparer les points de vue pendant ces deux jours. Bien que vivant dans des mondes parallèles, le geek a besoin du boss et le boss a besoin du geek. Aussi bizarre que cela paraisse, c'est presque une symbiose. Comme un animal et son parasite qui le protège de je ne sais quelle autre bactérie (je ne dirais pas qui est le parasite de l'autre). Il y a de l'espoir cependant: au fur et a mesure de ces deux jours, on a vu décrire des techniques et des points de vues qui essayaient de faire parler/interagir les différents niveaux en proposant un langage et terrain commun, en ajoutant des boucles de retour rapides etc (hiérarchies râteau, méthodes itératives, reconsidération de la responsabilité...).</p>
<p>Il y a encore beaucoup de choses a inventer, de progrès à faire. C'est un énorme chantier, particulièrement pour les sociétés françaises. Celles qui prendront le pli gagneront en compétitivité, les autre iront pleurer auprès du gouvernement contre les grands méchants de l'étranger qui leur volent leur clients.</p>
<p><b>Les keynotes: pour penser plus loin</b></p>
<p>Une bonne keynote doit présenter quelque chose qui va au delà du thème de la conference, qui fait réfléchir, change les perspectives et fait mal à la tête. L'USI a mis la barre très haut avec 8 keynotes! Toutes n'étaient pas à mon goût mais 6 sur les 8 étaient du gros calibre, voir du gros gros calibre.<br/></p>
<p>Celle qui m'a mis le cul par terre c'est la keynote de <a href='http://en.wikipedia.org/wiki/Juan_Enriquez'>Juan Enriquez</a>. Ce monsieur est une pointure en science de la vie et un business man averti. Il a trempé de près ou de loin dans beaucoup des dernières avancées clés en biologie et notamment la récente annonce de la première cellule entièrement synthétique (pour traduire: l'homme a crée la vie a partir de 0).</p>
<p>Juan nous a donne la vision d'un monde:</p>
<ul>
  <li>où les usines de chimie étaient obsolètes: une vache génétiquement modifiée génère la molécule anti-cancéreuse qui va bien dans son lait en beaucoup moins de place et de pollution</li>
  <li>où les matières synthétiques ne sont pas dérivées du pétrole mais générées par des cellules</li>
  <li>où les donnees génétiques sont du code, les cellules des microprocesseurs et les généticiens des développeurs: geek power!<br/></li>
</ul>
<p>La vie est la prochaine plate-forme, le vrai post-silicone. Oublier le cloud computing, le cloud computing est l'étape intermédiaire pour nous apprendre à faire du développement massivement distribué. Là où l'informatique silicone manipule des 0 et des 1, le bio développeur manipule des A,C,G,T.</p>
<p>Quelques chiffres clés:</p>
<ul>
  <li>100,000 milliards de cellules (10^14) dans le corps humain</li>
  <li>6 milliards de bits dans le génome humain contenu dans chaque cellule (715 Mo)</li>
  <li>donc le corps humain contient 68.187.713.623 To ou 63,5 Zetta octets (pour info au dessus il y a yotta et puis plus rien :) )</li>
</ul>
<p>Une fois que le "hardware" sera peaufiné, il nous suffira d'écrire l'assembleur Vie, et la GVM Genetic Virtual Machine. L'expression code smell prendra tout son sens. Cela ouvre des perspectives totalement bluffantes! Cette perspective et cette vision de Juan Enriquez était tellement soufflante que je me suis dit "je veux bosser pour lui".</p>
<p>Une petite déception d'ailleurs puisqu'à part moi, les autres questions dans l'assemblée étaient négatives ou pessimistes: Quid de l'utilisation en tant qu'arme? Quid des risques de ceci et cela? Quid des règlementations à mettre en place? etc. On reconnait bien la mentalité française :(</p>
<p>L'USI est un mini <a href='http://ted.com'>TED</a> dédié a l'IT. Le format geek / boss et les sessions de 20 minutes fonctionnent bien. Un grand merci aux USI boys and girls qui ont tout organisé et avec un peu de chance, à l'année prochaine :)</p>
