---
title: 'To Tor or à Tort'
author: 'Emmanuel Bernard'
layout: blog-post
tags: [ tool ]
---
<p>Last night, I read some articles about <a href='http://www.torproject.org/'>Tor</a>. Tor is an anonymous network that redirects your communications securely and anonymously across the Tor network before entering the public internet. It prevents people from finding who / where you are and from spying on your internet connection. The idea is that the communication between you and say the web site you want to look at is encrypted and passes via a few other machines running the Tor network. It looks like the last person on the Tor network is surfing the web site you are looking at.
</p>
<p>Long story short, it's a tool emphasizing anonymity and protecting people's freedom, privacy and confidentiality (quite useful when you are a dissident in a not so open country).
</p>
<p>I did install Tor so that my machine ran as a Tor relay and exit node. A Tor relay relays the data flow from one Tor node to another. An exit node is the bridge between the Tor network and the real internet: in my previous example that's the last guy that appears to look at the website you are surfing.
</p>
<em>Why did I do that?</em>
<p>Good question. I was curious first and doing my part to keep the world good is something I try to do from time to time.
</p>
<em>What happened?</em>
<p>That's the sad part. I let the node run all night and when I tried to use my connection in the morning I had a couple of bad surprises:
</p>
<ul>
	<li>Google thought I was a bot trying to run automated queries and abusing the system. Consequently, every search I was doing was guarded by a captcha (annoying).</li>
	<li>freenode (IRC) must have thought I was a bad guy cause I could not log onto #hibernate-dev #jboss-dev and co</li>
</ul>
<p>I suspect some people were abusing the system and hid themselves behind Tor and I was their gateway to the internet. That left a bad taste in my mouth, I've disabled my Tor relay.
</p>
<p>End of experience.</p>
