---
title: 'Headset worth using: Klipsch Image S4i'
author: 'Emmanuel Bernard'
layout: blog-post
tags: [ electronics ]
---
<p>I'm a big headset consumer. The average lifespan is around 3 months regardless of the price I pour into it. The way I wear them out is simple: I leave my iPhone in my jeans front pocket whether I'm walking or sitting. The base of the wire linked to the connector breaks.
</p>
<p>It is so true that I always travel with two headsets in case one fails. And yes once both failed on me and I had to buy some at the airport. Funnily enough, that's when I've discovered Klipsch and more specifically the <a href='http://www.amazon.com/gp/product/B00365EB3I/ref=as_li_ss_tl?ie=UTF8&amp;tag=siteperso-20&amp;linkCode=as2&amp;camp=217145&amp;creative=399369&amp;creativeASIN=B00365EB3I'>Klipsch Image S4i</a>.
</p>
<div style='float: left; width: 150px;'>
<a href='http://www.amazon.com/gp/product/B00365EB3I/ref=as_li_ss_il?ie=UTF8&amp;tag=siteperso-20&amp;linkCode=as2&amp;camp=217145&amp;creative=399369&amp;creativeASIN=B00365EB3I'><img src='http://ws.assoc-amazon.com/widgets/q?_encoding=UTF8&amp;Format=_SL110_&amp;ASIN=B00365EB3I&amp;MarketPlace=US&amp;ID=AsinImage&amp;WS=1&amp;tag=siteperso-20&amp;ServiceVersion=20070822' border='0' alt=''/></a> <img src='http://www.assoc-amazon.com/e/ir?t=&amp;l=as2&amp;o=1&amp;a=B00365EB3I&amp;camp=217145&amp;creative=399369' border='0' height='1' alt='' style='border: none !important; margin: 0px !important;' width='1'/>
</div>
<p>Here are my unconditional requirements:
</p>
<ul>
	<li>they must isolate from the outside world sounds (in-ear)</li>
	<li>they must have a remote control compatible with iPhones</li>
	<li>they must have a microphone for phone calls</li>
</ul>
<p>The Klipsch Image S4i is one of the most comfortable headsets I have ever had. Their oval shaped ear inserts are fantastic. Also, they survived 11 months of intensive usage (that's about 600 hours in my case): a durability record for me.
</p>
<p>What I like in them:
</p>
<ul>
	<li>price: for this level of quality and comfort, this is a good price point</li>
	<li>comfort: they are very comfortable in your ears even for long periods of time</li>
	<li>durability: real-life tested ;)</li>
	<li>no friction noise from the wire: some headsets propagate the friction noise that the wire makes when moving on your cloths: that's extremely annoying. This is not the case here.</li>
</ul>
<p>What I don't like:
</p>
<ul>
	<li>the remote is a bit too far from your mouth and too heavy (hint: Apple gets it right)</li>
	<li>the clip to attach the wire to your cloths is cheaply designed and I lost it eventually</li>
	<li>the wire length is a bit too long for my usage</li>
</ul>
<p>I won't discuss sound quality because frankly, my ears are not good enough to really appreciate and report on it. Check out other reviews for this kind of info. That being said, this model generally has good reviews.
</p>
<p>That's it. If you have the same kind of criteria that I have, definitively give it a shot.</p>
