---
title: 'How to install an Apple Keynote theme'
author: 'Emmanuel Bernard'
layout: blog-post
tags: [ apple, productivity ]
---
<p>It is surprisingly hard to find on <em>da internet</em> how to install an Apple Keynote theme (and make it work).
</p>
<p>Follow this procedure:
</p>
<ul>
	<li>retrieve the <code>.kth</code> file (that's the keynote extension for templates)</li>
	<li>alternatively open the <code>.key</code> file containing the theme you are interested in</li>
	<li>double click on it or open the file in Keynote</li>
	<li>In the <code>File</code> menu, click on <code>Save Theme...</code></li>
</ul>
<p>The file will be stored in <code>~/Library/Application Support/iWork/Keynote/Themes</code>.
</p>
<p>This technique is known to work for Keynote '09 (5.1) on Mac OS X 10.6 (Snow Leopard).</p>
