---
title: 'OpenWorldForum et OSDC à Paris'
author: 'Emmanuel Bernard'
layout: blog-post
tags: [ conference ]
---
<p>If you are in Paris Sept 22th-24th, don't miss the <a href='http://openworldforum.org/'>OpenWorldForum</a> and the <a href='http://osdc.fr/'>Open Source Developer Conference</a>. This is one of the too few big events in Paris around our work and it's free.
</p>
<p>I will personally be there to talk about Hibernate OGM and be part of a panel on Code and Cloud. I've put more information on my <a href='http://in.relation.to/Bloggers/HibernateOGMAndRedHatAtTheOpenWorldForumAndOSDC'>professional blog</a>.</p>
