---
title: 'It&#039;s flattering Google but I&#039;m not that smart'
author: 'Emmanuel Bernard'
layout: blog-post
tags: [  ]
---
<p>Google grossly overestimates my knowledge in linguistic.
</p>
<a href='http://blog.emmanuelbernard.com/wordpress/wp-content/uploads/2011/07/google-asian-language.png'><img class='aligncenter size-full wp-image-203' title='google-asian-language' src='http://blog.emmanuelbernard.com/wordpress/wp-content/uploads/2011/07/google-asian-language.png' height='286' alt='' width='1322'/></a>
