---
title: 'In search for a 2560x1600 display'
author: 'Emmanuel Bernard'
layout: blog-post
tags: [ apple, productivity, tool ]
---
<p>I have been using a Samsung SyncMaster 305T+ 30" monitor for 4.5 years now and have been very very happy with the screen real estate. Yes two monitors are nice but a big massive one wins for me. Anyways, it's failing me. The screen blinks more and more - luckily I'm epileptic - often and a few straps that used to display true back now are dark green. It won't last long. I am looking for a replacement.
</p>
<p>I have a MacBook Pro with a mini DisplayPort but pre thunderbolt (by a couple of month...). I am quite interested in the Apple Thunderbolt Display:
</p>
<ul>
	<li>it has the resolution I'm looking for,</li>
	<li>great ports (USB, Firewire, Ethernet)</li>
	<li>it's a breathe to dock a MacBook Pro</li>
	<li>good reviews</li>
</ul>
<p>There is one catch, it won't work on my current MacBook Pro - i tried. And that sucks big time. I can't justify buying a new MacBook Pro to secure a future proof screen and I could not find a way to make this Thunderbolt monitor work on a mini DisplayPort computer (no adapter, no nothing). Which means Apple will force me in the past :(
</p>
<p>The alternatives I have are:
</p>
<ul>
	<li>the Dell U3011 (30", 2560x1600, DisplayPort, DVI, HDMI)</li>
	<li>the HP ZR30w (30", 2560x1600, DisplayPort, DVI)</li>
	<li>the Apple LED Cinema Display (27", 2560x1600,mini DisplayPort, MagSafe power adaptor)</li>
</ul>
<p>It seems to me the best option is the Apple Cinema Display. Despite the smaller screen, it's the same resolution, it's cheaper (by 200 to 400 euros) and I will have less cable to plug my laptop to. The sad thing is I'm not sure it will work on future Thunderbolt MacbookPro, let alone if I need to plug other Thunderbolt accessories in between, and for sure it will be inconvenient compared to a nice and well connected Apple Thunderbolt Display. And spending that much money on previous generation when the next gen is the same price really pisses me off.
</p>
<p>Do I have any other alternatives? I looked for refurbished or second hand Apple Cinema Display (27", mini DisplayPort) but could not find any around Paris.
</p>
<p>By the way, 4.5 years ago for a 30" 2560x1600 monitor, I paid the same price or less than what these beasts sell for today. Granted, these are new technology and new panels (IPS) but at constant size and resolution, price has not drop a penny. Where the hell have Moore's law corollaries gone? Oh and is 4.5 years old for a screen?</p>
