// I gather this file is a starting point for the project.
$primaryDark: #254117;
$navbarBackground: $primaryDark; // #d87406;
$navbarBackgroundHighlight: #2E7258; //#ffc40d;
$navbarText: #999;
$navbarLinkColor: #999;
$navbarLinkColorHover: #fff;

@import "bootstrap";

.menu-button {
	color:#ffffff;
}

//main elements
body {
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size:105%;
}

h1 {
	line-height: 1;
}

p {
	margin-bottom: 1.5em;
	font-size:100%;
}

.navbar-refine {
	border-top: 10px solid rgba(255, 255, 255, 1); 
}

#logo {
  padding-bottom: 1em;
  width: 240px;
  -webkit-box-reflect: below -30 -webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(.85,transparent),to(rgba(255, 255, 255, 0.9)));
}

h1 {
	margin-bottom: 0.50em;
}

h1, h2, h3, h4, h5, strong {
	color: $primaryDark;
}

#footer {
	text-align:center;
}

.main-text {
	h1,h2 {
		font-weight:normal;
		padding-bottom:15px;
	}
	h1 {
		font-size: 3em;	
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1em;
	}
	p {
		font-size: 100%;
	}
}

.bar {
    text-align: center;
    vertical-align: middle;
	img, p {
	   vertical-align: middle;
	}
}

.project-block {
	//background-color: #FFF6E0;// #F2FFEA;
	background-color: #F1F1F1;// #F2FFEA;
	margin: 2%;
	padding: 5%;
	padding-top: 2%;
	padding-bottom: 1%;
	margin-bottom: 6%;
	p {
		font-size: 90%;
	}
	strong {
		line-height: 2.5;
	}
}

.blogpost {
	h2 {
		padding-bottom: 0;
	}
}
.blogtagbar {
	display: inline;
    vertical-align: bottom;
    font-size:90%;
    color: #555555;
    a {
		text-decoration:none;
	}
	.label:hover {
		background-color:#555555;
	}
	iframe {
		position:relative;
		top:7px;
	}
}

.feed {
    text-align: center;
    vertical-align: middle;
    img, p {
       vertical-align: middle;
    }
	a {
		color: #999999;
	}
}

//pagination
.pagination-links {
  margin-bottom: 1em;
  a {
    text-decoration: none;
  }
  a, .current-page, .slip {
    padding: .5ex;
    margin-right: .5ex;
  }
  a.page-link, .current-page, .previous-link, .next-link {
    border: 1px solid #999;
  }
  .current-page {
    font-weight: bold;
  }
}


//left sidebar
#flattr_button {
  text-align: center;
  //margin-left: 2em;
  margin-top: 2em;
}

//Per page specifics
#hsia-home {
	float: right;
	margin-left: 5px;
}
//Per page specifics
#hsia-details {
	float: left;
}

// Include responsive Bootstrap styles
@import "bootstrap-responsive";