---
layout: blog-sidebar
tab: blog
---
.page-header
  %h1
    No Relation To Blog
    %br
    %small.feed
      %a{:href=>'/blog/feed.atom'}
        %img{:src=>'/images/services/rss_32.png'}
      %a{:href=>'/blog/feed.atom'}
        Subscribe to the personal musing of Emmanuel Bernard
~ content
= page.disqus_comments_count