---
layout: constant-sidebar
tabl: blog
---
.page-header
  %h1
    No Relation To Blog
    %br
    %small.feed
      %a{:href=>'/blog/blog.atom'}
        %img{:src=>'/images/services/rss_32.png'}
      %a{:href=>'/blog/blog.atom'}
        Subscribe to the personal musing of Emmanuel Bernard
~ content