---
layout: default
---
#two-column
  #left-column
    %img#logo{:src=>"/images/emmanuel-conf.jpg"}
    #logo-copyright
      Photo by Wattie (Flickr) under Creative Commons (attribution, non-commercial, share alike)
    #microbio
      :markdown
        <br/>
        __Name:__ Emmanuel Bernard<br/>
        __Bio tags:__ French, Open Source actor, Hibernate, JCP, JBoss, Snowboard, Economy<br/>
        __Employer:__ [JBoss](http://jboss.org) by Red Hat
        __Resume__: [LinkedIn](http://www.linkedin.com/in/emmanuelbernard)<br/>
        __Team blog:__ [in.relation.to](http://in.relation.to)<br/>
        __Personal blog:__ [No relation to](http://blog.emmanuelbernard.com)<br/>
        __Microblog:__ [Twitter](http://twitter.com/emmanuelbernard), [Google+](http://gplus.to/emmanuel)
        __Geoloc:__ Paris, France
        
        __My favorite links__
        * [hibernate.org](http://hibernate.org)
        * [econtalk.org](http://econtalk.org)
        * [news.google.com](http://news.google.com)
        * [lemonde.fr](http://lemonde.fr)
    
  #right-column
    ~ content