---
layout: default
---
.row
  .span8
    ~ content

  .offset1.span3
    .hidden-phone
      %img#logo{:src=>"/images/emmanuel-conf.jpg"}
    .small
      Photo by Wattie (Flickr) under Creative Commons (attribution, non-commercial, share alike)
    #flattr_button
      = page.flattr_large_counter(:url=>"http://emmanuelbernard.com", 
        :title=>"Emmanuel Bernard", 
        :tags=>"emmanuelbernard,french,oss,java ,hibernate,jboss")
    
    #microbio
      :markdown
        __Name:__ Emmanuel Bernard  
        __Bio tags:__ French, Open Source actor, Hibernate, (No)SQL, JCP, JBoss, Snowboard, Economy  
        __Employer:__ [JBoss](http://jboss.org) by Red Hat  
        __Resume__: [LinkedIn](http://www.linkedin.com/in/emmanuelbernard)  
        __Team blog:__ [in.relation.to](http://in.relation.to)  
        __Personal blog:__ [No relation to](http://blog.emmanuelbernard.com)  
        __Microblog:__ [Twitter](http://emmanuelbernard.com/@), [Google+](http://emmanuelbernard.com/+)  
        __Geoloc:__ Paris, France
 
        __My favorite links__

        * [hibernate.org](http://hibernate.org)
        * [econtalk.org](http://econtalk.org)
        * [news.google.com](http://news.google.com)
        * [lemonde.fr](http://lemonde.fr)
    
  .offset1.span8
    ~ content