---
layout: base
---
#nav-wrapper
  = partial( 'top-nav.html.haml' )
#layout
  #primary
    ~ content

  #footer{:style=>'clear: both; text-align:center; padding-top:1em;'}
    
    .text
      Copyright 2011 Emmanuel Bernard
